<!-- admin_auth/templates/admin_auth/dashboard.html -->
<form method="post" action=''>
    {% csrf_token %}
    <label for="username">username:</label>
    <input type="text" name="username" required><br>
    <label for="password">password:</label>
    <input type="text" name="password" required><br>
    <input type="submit" value="Submit">

</form>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
